//paleta
$colorprimario: #1f78ff;
$colorsecundario: #214263;
$colorterciario: #ff1f1f;
$fondoprimario: #000000;
$fondosecundario: #ffffff;
$textoprimario: #ffffff;
$textosecundario: #000000;
$textoterciario: #838383;

//transformaciones
$tiempo-corto: 0.25s;
$tiempo-largo: 0.5s;
