* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorprimario: rgb(33, 122, 255);
  --colorsecundario: hsl(115, 35%, 20%);
  --fondoprimario: #000000;
  --fondosecundario: rgb(33, 66, 99);
  --textoprimario: #ffffff;
  --textosecundario: #838383;
}

body {
  font-family: "Montserrat", sans-serif;
}

.social-icons {
  display: flex;
  list-style: none;
}
@media (max-width: 768px) {
  .social-icons {
    display: none;
  }
}

svg {
  color: white;
}

.logo {
  display: flex;
  position: relative;
}

.logo:after {
  content: "";
  display: block;
  position: absolute;
  background: var(--colorprimario);
  height: 2.5rem;
  width: 0.1rem;
  transform: translateY(0.5rem);
}

nav .active {
  background: var(--colorprimario);
  border-radius: 0.25rem;
  z-index: 5;
}

.navbar li {
  position: relative;
}

.navbar .nav-link,
.navbar .nav-link:focus {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 300;
  color: var(--textosecundario);
  white-space: nowrap;
  transition: 0.25s;
}

nav,
.nav-link {
  overflow: hidden;
  transition: transform 0.25s ease;
}

.nav-link:hover,
.nav-link:focus-within {
  background: var(--fondosecundario);
  z-index: -1;
  border-radius: 0.25rem;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.icon {
  order: 2;
  margin-left: 1.5rem;
}

.nav__item {
  margin-left: 1rem;
}

.section__text {
  padding: 2rem;
  font-weight: 400;
  font-size: 1rem;
  width: fit-content;
  letter-spacing: -0.05rem;
  line-height: 1.75rem;
  color: var(--textoprimario);
}

.section__text--b {
  color: var(--textoprimario);
  padding: 0.2rem;
  background-color: #212121;
  border-radius: 0rem;
  letter-spacing: -0.03rem;
}

/* SERVICIOS */

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item img {
  border: solid;
  border-width: 0.1rem;
  border-color: var(--colorprimario);
  border-radius: 0.2rem;
}

.services__title {
  line-height: 3rem;
  font-size: 3rem;
  order: 0;
}
.services__p {
  line-height: 2rem;
  font-size: 1rem;
  order: 1;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-item {
    display: flex;
    flex-direction: column;
  }

  .services__title {
    line-height: 2rem;
    font-size: 2rem;
    order: 0;
  }
  .services__p {
    line-height: 1rem;
    font-size: 1rem;
    order: 1;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel__caption {
    transform: translateY(100%);
  }
  .services__title {
    line-height: 2rem;
    font-size: 2rem;
  }
  .services__p {
    line-height: 1.75rem;
    font-size: 1.75rem;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .services__title {
    line-height: 2.5rem;
    font-size: 2.5rem;
  }
  .services__p {
    line-height: 1.5rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .services__title {
    line-height: 2rem;
    font-size: 2rem;
  }
  .services__p {
    display: none;
  }
}

.section__title {
  position: relative;
  z-index: 10;
  padding: 0 5px;
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: var(--textoprimario);
}

.section__title:before {
  content: "";
  position: absolute;
  height: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--colorprimario);
  z-index: -2;
}

.servicios__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.section__subtitle {
  position: relative;
  z-index: 10;
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  color: var(--textoprimario);
  border-bottom: solid;
  border-width: 2px;
  border-color: white;
}

.servicios__link {
  width: 40rem;
  background-color: var(--colorprimario);
}
@media (min-width: 768px) {
}

@media (max-width: 575px) {
  .servicios__link {
    width: 50%;
  }
}

/* TARJETAS */
.cards-container {
  height: 25%;
}

.gallery h2 {
  position: relative;
  z-index: 2;
  padding: 0 5px;
  display: inline-block;
  margin: 0 0 10px 0;
  font-size: 38px;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.gallery h2:before {
  content: "";
  position: absolute;
  height: 40%;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--colorprimario);
  z-index: -5;
}
@media (max-width: 768px) {
  .gallery h2:before {
    height: 38%;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1rem;
  overflow: hidden;
}

@media (max-width: 992px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cards {
  color: white;
  overflow: hidden;

  transition: transform 500ms ease;
}

.cards:hover,
.cards:focus-within {
  transform: scale(1.25);

  z-index: 3;
}

.cards img {
  z-index: 1;
}

.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.75);
  width: auto;
  height: 300px;
  font-weight: 400;
  font-size: large;
  letter-spacing: 0.05rem;
  color: #ffffff;
}

.cards:hover .card__info {
  opacity: 1;
  transition-delay: 0.1s;
}

.img1 {
  background-image: url(/imgs/Shows/Fiesta3.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

.img2 {
  background-image: url(https://www.lumion.es/wp-content/uploads/2022/09/Render-3D-2-scaled.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.img3 {
  background-image: url(https://www.lumion.es/wp-content/uploads/2022/09/Render-3D-scaled.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.img4 {
  background-image: url(https://www.lumion.es/wp-content/uploads/2022/05/hipcafe_v4_00131.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.img5 {
  background-image: url(/imgs/Arq/Edificio.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.img6 {
  background-image: url(/imgs/Arq/Casa2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.img7 {
  background-image: url(https://www.lumion.es/wp-content/uploads/2021/05/RealSkyVillaLandscape.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.img8 {
  background-image: url(/imgs/Shows/Fiesta1.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

/* FOOTER */
footer {
  background-color: var(--fondosecundario);
}

.footer__text {
  display: flex;
  color: #cdcdcd;
  font-weight: 400;
  font-size: 0.8rem;
}

.footer__social {
  display: flex;
  list-style: none;
  width: max-content;
  transform: translateX(-25%);
}

.footer__social--icon {
  transform: translateY(50%);
  margin-left: 1.5rem;
}

.link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.form {
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: -0.05rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 2rem;
  color: #212121;
}

.form__input {
  border: 0.1rem;
  border-style: solid;
  border-radius: 0.25rem;
  border-color: #cdcdcd;
  background-color: #212121;
  color: #ffffff;
  padding: 0.25rem;
}
